html{
    scroll-behavior: smooth;
}
.body{
    background-color: azure;
    padding:10px;
}

.landing{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.landing-text{
    font-family: 'Roboto', sans-serif;
    color: #010101;
    max-width: 600px;
}

.contact{
    font-family: 'Roboto', sans-serif;
    color: #010101;
}


.button{
    width: 100px;
}
/*Desktop */
@media screen and (min-width: 601px) {
    .landing{
        height:75vh;
    }
    .landing-left{
        margin-left: 400px;
        padding-top: 100px;
    }
    .landing-right{
        margin-right: 350px;
        padding-top: 100px;
    }
    .control{
        height:75vh;
    }
    .control-left{
        margin-left: 400px;
        padding-top: 100px;
        max-width: 400px;
        float: left;
    }
    .control-right{
        margin-right: 400px;
        padding-top: 100px;
        max-width: 400px;
        float: right;
    }
    .contact{
        padding:120px;
    }
}

/*Mobile */
@media screen and (max-width: 600px) {
    .landing{
        height:90vh;
        margin-bottom: 40px;
    }
    .landing-left{
        padding-left: 75px;
    }
    .control{
        height:90vh;
    }
    .landing h1 {
        font-size: 1.8rem;
    }
    .slidingdoor-image{
        width: 200px;
    }
    .landing-text{
        font-size: 15px;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');